.sidepanel-content {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 25rem;
	background-color: var(--background);
	border-left: 1px solid var(--border);
	padding: 1rem;
	z-index: 50;
	transform: translateX(100%);
	transition: transform 0.3s ease;
}

.sidepanel-content[data-state="active"] {
	transform: translateX(0);
}

.sidepanel-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--foreground);
	opacity: 15%;
	z-index: 40;
}

.sidepanel-background[data-state="inactive"] {
	opacity: 0%;
	visibility: hidden;
}

.sidepanel-background[data-style="primary"] {
	background-color: var(--primary);
}

.sidepanel-background[data-style="secondary"] {
	background-color: var(--secondary);
}

.sidepanel-background[data-style="destructive"] {
	background-color: var(--destructive);
}

.sidepanel-background[data-style="success"] {
	background-color: var(--success);
}

.sidepanel-background[data-state="active"] {
	visibility: visible;
}

.sidepanel-background[data-animation="light"],
.sidepanel-background[data-animation="full"] {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.sidepanel-background[data-animation="light"]:[data-state="inactive"] {
	opacity: 0%;
	visibility: hidden;
}

.sidepanel-background[data-animation="full"]:[data-state="inactive"] {
	opacity: 0%;
	visibility: hidden;
}

.sidepanel-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: var(--radius);
	border-color: transparent;
	cursor: pointer;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	color: var(--foreground);
}

.sidepanel-close[data-state="active"] {
	border-color: var(--border);
}
